@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#section{
  height:100vh;
}

.check:hover{
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(250, 87%, 65%), hsl(280, 87%, 65%));
}

input:focus {
  outline: none; 
  border-color: blue; 
  caret-color: blue; 
}

input::selection {
  background-color: blue;
  color: white;
}


.light{
  background-image: url(assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
}

.dark{
  background-image: url(assets/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
}

@media (max-width:470px){
  .light{
  height:100vh;
  background-image: url(assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

  .dark{
  height:100vh;
  background-image: url(assets/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
}