@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  height:100vh;
  overscroll-behavior-y: none;
}

/* CheckBox Design  */
.check:hover{
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(250, 87%, 65%), hsl(280, 87%, 65%));
}
.complete{
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(250, 87%, 65%), hsl(280, 87%, 65%));
}

/* Shadow for Todo Container */
.task-list{
  box-shadow: 3px 12px 50px rgba(0, 0, 0, 0.15);
}

/* Input form Design */
input:focus {
  outline: none; 
  border-color: blue; 
  caret-color: blue; 
}

input::selection {
  background-color: blue;
  color: white;
}

/* Background Image for each mode and screen size */
.light{
  min-height:100vh;
  background-image: url(assets/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

.dark{
  min-height:100vh;
  background-image: url(assets/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

@media (max-width:470px){
  .light{
  min-height: 100vh;
  background-image: url(assets/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

  .dark{
  min-height: 100vh;
  background-image: url(assets/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
}

/* Bottom Div in Todo Container text design */
.b-t-l:hover{
  color:#43414c;
}

.b-t-d:hover{
  color:#c8cae3;
}
